body {
    background: #E5E5E5;
    margin: 0px; 
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #C4E1F2;
    min-height: 106px;
    flex-wrap: wrap;
}

img { 
    max-width: 100%; 
    height: auto; 
}

#footer {
    display: flex;
    font-family: 'Heebo';
    font-size: 24px;
    color: #402B19;
    align-items: center;
    justify-content: center;
    height: 130px;
    background: #B0BF3F;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

#selections {
    display: flex;
    flex-wrap: wrap;
    padding: 28px;
    column-gap: 24px;
    row-gap: 24px;
}

#hiking_types {
    display: flex;
    flex-wrap: wrap;
    column-gap: 18px;
}

#sliders {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
}

.rangeValue {
    position: relative;
    display: block;
    text-align: center;
    font-size: 24px;
    color: #402B19;
    font-weight: 24;
}

.range {
    -webkit-appearance: none;
    width: 170px;
    height: 3px;
    border-radius: 5px;
    background: black;
    outline: none;
}
  
.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #C5D930;
    cursor: pointer;
}

select#difficulty {
    width: 280px;
    height: 50px;
}

@font-face {
    font-family: 'Gugi'; 
    src: url("resources/Gugi-Regular.ttf");
}

@font-face {
    font-family: 'Heebo'; 
    src: url("resources/Heebo-VariableFont_wght.ttf");
}

#header h1 {
    padding-left: 28px;
    font-family: 'Gugi';
    font-size: 64px; 
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #402B19;
}

.modal-contents h2 {
    font-family: 'Gugi';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #402B19;
}

.header_button {
    font-family: 'Gugi';
    font-size: 36px; 
    margin-left: auto; 
    margin-right: 64px;
    width: 225px;
    height: 51px;
    background: #C5D930;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    padding-bottom: 170px;
    justify-content: center;
}
.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.bg-modal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-contents {
    max-width: 100%;
	height: auto;
	background-color: #C4E1F2;
	text-align: left;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}

.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}

#map {
    height: 350px;
    width: 300px;
}

#small_details {
    width: 200px;
    height: 350px;
    background: rgba(255, 255, 255, 0.7);
}

#small_details img {
    display: block;
    margin-left: auto;
    margin-right: 45px;
    margin-top: 9px;
}

#details_table {
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
    margin-top: 14px;
}

td {
    font-family: "Heebo";
    font-size: 16px;
    color: #402B19;
    width: 70%;
    text-align: left;
}

#description {
    width: fit-content;
    height: fit-content;
    background: rgba(255, 255, 255, 0.7);
}

#description p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Heebo";
    color: #402B19;
}

.extra_info {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 20px;
}

#no_tracks {
    text-align: center;
    font-family: "Heebo";
    font-size: 24px;
    color: #402B19;
}

@media only screen and (max-width: 600px) {
    #header {
        justify-content: center;
    }

    .grid-container {
        grid-template-columns: auto;
    }

    #selections {
        justify-content: center;
    }

    select#difficulty {
        width: 140px;
        height: 50px;
    }

    #header h1 {
        font-size: 36px; 
    }

    #footer {
        font-size: 12px;
    }
}

